<div class="wrapper">
	<div class="logo">
	  <img src="assets/rvips-logo.png" alt="Logo"/>
	  <h1>Platesnė informacija apie įmonę</h1>
	</div>
	<div>

	  
	</div>
  <div>
    <h2 class="line">
      Komentarai
    </h2>
    <button class="add-button" mat-raised-button color="primary" (click)="openModal()">Pridėti komentarą</button>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; ">
    <div style="padding: 20px; text-align: center;">
      <h1 style="margin-bottom: 20px;">Sponsorius</h1>
      <a href="http://www.Sponsorius.lt" style="text-decoration: none; color: #3f51b5; margin-bottom: 20px; display: block;">
        Sponsorius.lt
      </a>
      <p style="margin-bottom: 20px;">Kontaktinis telefonas: 123456789</p>
      <p style="margin-bottom: 20px;">El-Paštas: Sponsorius@Sponsorius.lt</p>
      <p style="margin-bottom: 20px;">Addresas: Sponsorius 123</p>

      
    </div>
  </div>


